#project-section {
  background-color: #fff;
  margin-bottom: 4%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;

  .img {
    width: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-tab-font {
    font-size: 16px;
    line-height: 20px;
  }

  //grid styles
  .grid-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    animation: fadeIn 0.8s;
    overflow: hidden;
  }

  .grid-content > div:nth-child(even) {
    margin-top: 20px;
  }

  //input styles
  .radio {
    display: none;
  }

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel,
  #four:checked ~ .panels #four-panel {
    display: block;
  }

  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab,
  #four:checked ~ .tabs #four-tab {
    background-color: #171717;
    color: #d4d4d4;
  }

  //media query
  @media only screen and (max-width: 600px) {
    .grid-content {
      grid-template-columns: auto auto;
    }
    .grid-content > div:nth-child(even) {
      margin-top: 0px;
    }
    .about-tab-font {
      font-size: 12px;
    }
  }
}
