#project {
  background-color: #fff;
  margin-bottom: 4%;
  font-weight: 500;

  .img {
    width: 80%;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    background-position: center;
    background-repeat: no-repeat;
  }

  label:hover {
    color: #fdb750;
    transition: ease-in-out 0.2s;
    animation: alternate-reverse 1;
  }

  .about-tab-font {
    font-size: 16px;
    line-height: 20px;
  }

  .grid-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    animation: fadeIn 0.8s;
    overflow: hidden;
  }

  .grid-content > div:nth-child(even) {
    margin-top: 30%;
  }

  .radio {
    display: none;
  }

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel,
  #four:checked ~ .panels #four-panel {
    display: block;
  }

  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab,
  #four:checked ~ .tabs #four-tab {
    background-color: #171717;
    color: #d4d4d4;
  }

  @media only screen and (max-width: 600px) {
    .grid-content {
      grid-template-columns: auto auto;
    }

    .about-tab-font {
      font-size: 12px;
    }
  }
}
