#navbar {
  margin-top: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  height: 5vh;
  background-color: #ffffff;

  nav {
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
    width: 100%;
  }

  #navbar-sm {
    display: none;
  }

  .d-flex {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .d-none {
    display: none;
  }

  nav > span {
    margin: 0 4%;
    font-size: 42px;
    line-height: 50px;
    color: #000000;
  }

  ul {
    list-style-type: none;
    margin: 0 4%;
  }

  a {
    text-decoration: none;
    color: black;
    transition: ease-in 0.2s;
  }

  a:hover {
    color: black;
    font-size: 24px;
    color: #fdb750;
    transition: ease-in 0.2s;
  }

  li {
    padding: 0 2rem;
    display: inline-block;
  }

  @media only screen and (max-width: 600px) {
    li {
      padding: 0 0.8rem;
      font-size: 14px;
      display: inline-block;
    }
  }

  @media only screen and (max-width: 1024px) {
    #navbar-lg {
      display: none;
    }

    #navbar-sm {
      list-style-type: none;
      margin: 0 4%;
      width: 100%;
      font-size: 2rem;
      display: block;
      transition: ease-in-out 0.2s;
    }

    #navbar-open-state {
      position: fixed;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      z-index: 99999;
      background-color: #000000;
      opacity: 0.8;
      height: 0vh;
      animation: identifier 1s forwards;
    }

    @keyframes identifier {
      from {
        height: 0vh;
      }

      to {
        height: 100vh;
      }
    }

    #navbar-open-state > ul > li {
      padding: 0;
      margin: 2rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #navbar-open-state > ul > li > a {
      z-index: 9999999;
      color: white;
      transition: ease-in-out 0.2s;
    }

    #navbar-open-state > ul > li > a:hover {
      z-index: 9999999;
      color: #fdb750;
      transition: ease-in-out 0.2s;
    }

    #navbar-sm:hover {
      color: #fdb750;
      transition: ease-in-out 0.2s;
    }

    #navbar-icon {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
