#home-section {
  margin-top: 10px;
  margin-bottom: 20px;
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  nav > span {
    margin: 0 4%;
  }
  
  ul {
    list-style-type: none;
    margin: 0 4%;
  }
  
  a {
    text-decoration: none;
    color: black;
    transition: ease-in 0.2s;
  }
  
  a:hover {
    color: black;
    font-size: 24px;
    transition: ease-in 0.2s;
  }
  
  li {
    padding: 0 2rem;
    display: inline-block;
  }
  
  .grid-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    overflow: hidden;
  }
  
  .left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    background-color: white;
  }
  
  .left-container > h1 {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    letter-spacing: 0.1em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  .right-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 4%;
  }
  
  .img {
    width: 80%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
  background-repeat: no-repeat;
  }
  
  .shadow {
    margin-top: 20px;
    width: 60%;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: 0.4;
    filter: blur(4px);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  
  @media only screen and (max-width: 972px) {
    li {
      padding: 0 0.8rem;
      font-size: 14px;
      display: inline-block;
    }
  }
}
