#home-section {
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav > span {
  margin: 0 4%;
}

ul {
  list-style-type: none;
  margin: 0 4%;
}

a {
  text-decoration: none;
  color: black;
  transition: ease-in 0.2s;
}

a:hover{
    color: black;
    font-size: 24px;
    transition: ease-in 0.2s;
}

li {
  padding: 0 2rem;
  display: inline-block;
}

.grid-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  overflow: hidden;
}

.left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4%;
  background-color: white;
}

.right-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 4%;
}

img {
  width: 80%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.shadow {
  margin-top: 20px;
  width: 60%;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: 0.4;
  filter: blur(4px);
}
